.sidebar-section{
    display: flex;
    background-color: black;
}

.sidebar{
    height: 100vh;
    background-color: rgb(66, 55, 55);
    width: 90px;
    position:fixed;
}
.sidebar-toggle{
    width: 200px;
}
.sidebar-toggle-icons{
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}

.sidebar-toggle-icons p svg{
    background-color: antiquewhite;
    color: white;
    margin-top: 30px;

}

/*MOBILE VIEW*/

@media (max-width:600px){
    .sidebar{
        display: none;
    }
}